<h1>Plants</h1>

<% @plants.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |plant| %>
      <div class="col-md-4">
        <%= image_tag plant.picture_url, width: '100%' if plant.picture.present?%>
        <h4><%= link_to plant.name, plant %></h4>
        <%= plant.type %>
      </div>
    <% end %>
  </div>
<% end %>
