body {
  padding-top: 60px;
  background-color: #f1fffa;
}

.container {
  background-color: #f1fffa;
  h1 {
    color: #2f4b26;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
  }
}

table,
td,
th {
  vertical-align: middle;
  border: none;
}

th {
  border-bottom: 1px solid #ddd;
}

footer {
  margin-top: 100px;
  text-align: center;
  color: #999;
}
